{% extends 'base.html.twig' %}


{% block body %}
	<div class="container">
		<h1>Add new task</h1>
		<a href="{{ path('app.all_tasks', {listname: listname}) }}">
			<button class="btn btn-primary btn-sm mb-3">Back to tasks</button>
		</a>
		{{ form(form) }}
		</div>
	{% endblock %}
