{% extends "base.html.twig" %}

{% block body %}
	<div class="container">
		<h1>Create new list</h1>
		<a href="{{ path('app.lists') }}">
			<button class="btn btn-primary btn-sm">Back to lists</button>
		</a><br><br>
		{{ form(form) }}

		</div>
	{% endblock %}
